{% extends 'base.html' %}
{% block content %}
<h1>I am creating something! {{name}}</h1>
<h2>Hello dad</h2>
<h3>Hello sis</h3>
<h4>Hello bro</h4>
<h5>Hello friend</h5>
<form action='add' method='POST'>
    {% csrf_token %}
    Give me 1st number <input type="text" name="numb1"><br>
    Give me 2nd number <input type="text" name="numb2"><br>
    Okay if we did something cool then I am gonna print something ok?<br>
    <input type="submit">
</form>
<br>
<br>
<br>
<h1>Go to Saiakat Page</h1>
<a href="index" style='font-size: 100px';>Saiakat</a>
{% endblock %}
